body{
    background-color: rgb(203, 216, 236);
    height: 100%;
  

}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
    font-size: 1.1em;
}
input[type="submit"]:hover
{
background-color: rgb(14, 190, 52) !important;
}
#box{
  box-shadow: 0px 0px 10px grey ;
}
